@import "tailwindcss";


@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --font-display: "Inter", "sans-serif";
  --font-sans: "Inter", "sans-serif";
  --font-work-sans:"--font-work-sans", "sans-serif";

  @keyframes meteor-move-left {
    0% {
      transform: translateX(70vw);
    }
    100% {
      transform: translateX(-80vw);
    }
  }


}
  .animate-meteor-move-left {
    animation: meteor-move-left 20s linear infinite;
  }

  @media (min-width: 768px) {
    .animate-meteor-move-left {
      animation-duration: 25s;
    }
  }

/* 1) Keyframes: transparent → glass */
@keyframes header-glass {
  from {
    background-color: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    background-color: rgba(4, 36, 61, 0.781);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10  0px);

  }
}

.header-glass {
  animation-name: header-glass;
  animation-duration: 1s;            
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: scroll(root);
  animation-range: 300px 450px;    
  will-change: backdrop-filter, background-color;
}


@supports not (animation-timeline: scroll(root)) {
  .header-glass {
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}

@media (min-width: 1280px) and (max-width: 1280px) {
  .hero-p {
    max-width: 70%;
  }
}